# Ce fichier .dockerignore est utilisé pour exclure certains fichiers et dossiers 
# du contexte de construction Docker. Cela permet d'optimiser la taille de l'image 
# Docker et d'éviter d'inclure des fichiers inutiles ou sensibles.

# Exclure les fichiers et dossiers liés à Git
.git            # Répertoire contenant les métadonnées Git
.gitignore      # Fichier de configuration pour Git

# Exclure les fichiers et dossiers liés à Docker
.docker         # Répertoire ou fichiers spécifiques à Docker

# Exclure les fichiers et dossiers générés par Python
app/__pycache__/        # Cache compilé Python dans le dossier `app`
app/*/__pycache__/      # Cache compilé Python dans les sous-dossiers de `app`
app/*/*/__pycache__/    # Cache compilé Python dans les sous-sous-dossiers de `app`
app/*/*/*/__pycache__/  # Cache compilé Python dans les sous-sous-sous-dossiers de `app`

# Exclure les fichiers d'environnement et les environnements virtuels
.env            # Fichier contenant les variables d'environnement sensibles
.venv           # Répertoire d'environnement virtuel Python
venv/           # Répertoire alternatif pour l'environnement virtuel Python